.app {
  position: relative;
}

.display, .add, .subtract {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  font: inherit;
  color: inherit;
  aspect-ratio: 1;
  border-radius: 40px;
  gap: 1px;
}

.display {
  width: 80px;
  background: #eee;
  box-shadow: 0 0 10px #0002;
}

.add, .subtract {
  width: 50px;
  position: absolute;
  bottom: -20px;
  transition: 0.15s;
}

.add:active, .subtract:active {
  scale: 0.95;
  box-shadow: none;
}

.add {
  right: -25px;
  background: #f3b391;
}

.subtract {
  left: -25px;
  background: #f6d4ba;
}