* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #59656f;
  color: #59656f;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-size: 2rem;
}